* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0d6efd;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    color: white;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #0d6efd;
    cursor: pointer;
    border-radius: 5px;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

.gray {
    background: #f4f6f9;
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.skills span {
    background: #0d6efd;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

/* PROJECTS */
.project-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
